:root {
    --duration: 0.7s;
    --diameter: 80px;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#digits {
    display: inline-flex;
    gap: 5px;
    margin: 20px;
    border: 1px solid black;
    padding: 5px;
}

.digit {
    display: grid;
    grid-template-columns: var(--diameter) var(--diameter) var(--diameter);
    gap: 5px;
}

.separator {
    display: grid;
    gap: 5px;
}


.clock {
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px lightgray;
    height: var(--diameter);
    width: var(--diameter);
    border: 1px solid darkgray;
    position: relative;
}

.hand {
    width:5%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    transition: transform var(--duration) ease-in-out;
}
.hour-hand {
    height: 30%;
    transform: rotate(var(--h));
}

.minute-hand {
    height: 40%;
    transform: rotate(var(--m));
}

footer {
    margin: 10px;
}